<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="omlete.mapper.ContentsMapper">
	<!-- 매퍼 바이딩을 사용할 경우 XML 기반의 매퍼 파일의 엘리먼트에서는 parameterType 속성 생략 가능 -->
	<insert id="insertContents">
		insert into contents values(#{contentsNo}, #{contentsType}, #{contentsOname}, #{contentsTname}, #{contentsTrailer}
		, #{contentsPoster}, #{contentsPhoto1}, #{contentsStaff}, #{contentsOverview}, #{contentsRating}, #{contentsGenre}
		, #{contentsNetwork}, #{contentsNetworkLogo}, #{contentsCountries}, #{contentsDirector}, #{contentsStartdate}
		, #{contentsAvgstar}, #{contentsEnddate}, #{contentsEpisodes}, #{contentsSeasons}, #{contentsRuntime}, #{contentsTagline}
		,#{contentsPhoto2}, #{contentsPhoto3})
	</insert>
	
	<!-- 검색행의 컬럼명과 DTO 클래스의 필드명이 같은 경우 resultType 속성을 사용하여 검색행을
	DTO	클래스의 객체를 제공받도록 설정 - 자동 매핑 -->
	<select id="selectContentsList" resultType="Contents">
		select contents_no, contents_type, contents_oname, contents_tname, contents_trailer, contents_poster, contents_photo1
		, contents_photo2, contents_photo3, contents_staff, contents_overview, contents_rating, contents_genre, contents_network, contents_network_logo
		, contents_countries, contents_director, contents_startdate, contents_avgstar, contents_enddate, contents_episodes
		, contents_seasons, contents_runtime, contents_tagline from contents order by contents_no
	</select>
	
	<select id="selectContents" resultType="Contents">
		select contents_no, contents_type, contents_oname, contents_tname, contents_trailer, contents_poster, contents_photo1
		, contents_photo2, contents_photo3, contents_staff, contents_overview, contents_rating, contents_genre, contents_network, contents_network_logo
		, contents_countries, contents_director, contents_startdate, contents_avgstar, contents_enddate, contents_episodes
		, contents_seasons, contents_runtime, contents_tagline from contents where contents_no=#{contentsNo}
	</select>

	<select id="selectContentsListByType" resultType="Contents">
		select contents_no, contents_type, contents_oname, contents_tname, contents_trailer, contents_poster, contents_photo
		, contents_staff, contents_overview, contents_rating, contents_genre, contents_network, contents_network_logo
		, contents_countries, contents_director, contents_startdate, contents_avgstar, contents_enddate, contents_episodes
		, contents_seasons, contents_runtime, contents_tagline from contents where contents_type=#{contentsType} 
		order by contents_no desc
	</select>
	
	<select id="selectContentCountsByGenre" resultType="Contents">
		select contents_genre, count(*) as genre_count from contents group by contents_genre
	</select>
	
	<select id="selectContentsCountByType" resultType="Contents">
		select contents_type, count(*) as type_count from contents group by contents_type
	</select>
	
	<update id= "updateContents">
		update contents set contentsType=#{contentsType}, contentsOname=#{contentsOname}, contentsTname=#{contentsTname}
		, contentsTrailer=#{contentsTrailer}, contentsPoster=#{contentsPoster}, contentsPhoto=#{contentsPhoto}
		, contentsStaff=#{contentsStaff}, contentsOverview=#{contentsOverview}, contentsRating=#{contentsRating}
		, contentsGenre=#{contentsGenre}, contentsNetwork=#{contentsNetwork}, contentsNetworkLogo=#{contentsNetworkLogo}
		, contentsCountries=#{contentsCountries}, contentsDirector=#{contentsDirector}, contentsStartdate=#{contentsStartdate}
		, contentsEnddate=#{contentsEnddate}, contentsEpisodes=#{contentsEpisodes}, contentsSeasons=#{contentsSeasons}
		, contentsRuntime=#{contentsRuntime}, contentsTagline=#{contentsTagline}
	</update>
	
	<delete id="deleteContents">
		delete from contents where contents_no=#{contentsNo}
	</delete>	
</mapper>