<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="omlete.mapper.ContentsMapper">
	<!-- 매퍼 바이딩을 사용할 경우 XML 기반의 매퍼 파일의 엘리먼트에서는 parameterType 속성 생략 가능 -->
	<insert id="insertContents">
		insert into contents values(#{contentsNo}, #{contentsType}, #{contentsOname}, #{contentsTname}, #{contentsTrailer}
		, #{contentsPoster}, #{contentsPhoto1}, #{contentsStaff}, #{contentsOverview}, #{contentsRating}, #{contentsGenre}
		, #{contentsNetwork}, #{contentsNetworkLogo}, #{contentsCountries}, #{contentsDirector}, #{contentsStartdate}
		, #{contentsAvgstar}, #{contentsEnddate}, #{contentsEpisodes}, #{contentsSeasons}, #{contentsRuntime}, #{contentsTagline}
		,#{contentsPhoto2}, #{contentsPhoto3})
	</insert>
	
	<!-- 검색행의 컬럼명과 DTO 클래스의 필드명이 같은 경우 resultType 속성을 사용하여 검색행을
	DTO	클래스의 객체를 제공받도록 설정 - 자동 매핑 -->
	<select id="selectContentsList" resultType="Contents">
		select contents_no, contents_type, contents_oname, contents_tname, contents_trailer, contents_poster, contents_photo1
		, contents_photo2, contents_photo3, contents_staff, contents_overview, contents_rating, contents_genre, contents_network, contents_network_logo
		, contents_countries, contents_director, contents_startdate, contents_avgstar, contents_enddate, contents_episodes
		, contents_seasons, contents_runtime, contents_tagline from contents order by contents_no
	</select>
	
	<select id="selectContents" resultType="Contents">
		select contents_no, contents_type, contents_oname, contents_tname, contents_trailer, contents_poster, contents_photo1
		, contents_photo2, contents_photo3, contents_staff, contents_overview, contents_rating, contents_genre, contents_network, contents_network_logo
		, contents_countries, contents_director, contents_startdate, contents_avgstar, contents_enddate, contents_episodes
		, contents_seasons, contents_runtime, contents_tagline from contents where contents_no=#{contentsNo}
	</select>

	<select id="selectContentsListByType" resultType="Contents">
		select contents_no, contents_type, contents_oname, contents_tname, contents_trailer, contents_poster, contents_photo1
		, contents_photo2, contents_photo3, contents_staff, contents_overview, contents_rating, contents_genre, contents_network
		, contents_network_logo, contents_countries, contents_director, contents_startdate, contents_avgstar, contents_enddate
		, contents_episodes, contents_seasons, contents_runtime, contents_tagline from contents where contents_type=#{contentsType} 
		order by contents_no desc
	</select>
	
	<select id="selectContentsCountsByGenre" resultType="Contents">
		select contents_genre, count(*) as genre_count from contents group by contents_genre
	</select>
	
	<select id="selectContentsCountByType" resultType="Contents">
		select contents_type, count(*) as type_count from contents group by contents_type
	</select>
	
	<update id= "updateContents">
		update contents set contents_type=#{contentsType}, contents_oname=#{contentsOname}, contents_tname=#{contentsTname}
		, contents_trailer=#{contentsTrailer}, contents_staff=#{contentsStaff}, contents_overview=#{contentsOverview}, contents_rating=#{contentsRating}
		, contents_genre=#{contentsGenre}, contents_network=#{contentsNetwork}, contents_countries=#{contentsCountries}, contents_director=#{contentsDirector}, contents_startdate=#{contentsStartdate}
		, contents_enddate=#{contentsEnddate}, contents_episodes=#{contentsEpisodes}, contents_seasons=#{contentsSeasons}
		, contents_runtime=#{contentsRuntime}, contents_tagline=#{contentsTagline} where contents_no=#{contentsNo}
	</update>
	
	<delete id="deleteContents">
		delete from contents where contents_no=#{contentsNo}
	</delete>
	
	<select id="selectContentsTitleByTname" resultType="String">
        SELECT contents_tname
        FROM contents
        WHERE contents_tname = #{contentsTname}
    </select>
	
	
	
	
	
	<!-- 최신순, 오래된 순 -->
	<select id="selectContentListByOrder" resultType="Contents" parameterType="String">
		SELECT
			*
		FROM
			contents
		ORDER BY
			#{orderBy}
	</select>
	<!-- ======================================================================================= -->
	<select id="searchFavorite" resultType="Contents">
       select * from contents where contents_tname like '%' || #{movieName} || '%'
    </select>
    
    <select id="selectContentsOrderByStartDate" resultType="Contents">
    	SELECT
    		*
   		FROM (
	    	SELECT
	    		*
	   		FROM
	  			CONTENTS
			ORDER BY
				CONTENTS_STARTDATE DESC
			)
		WHERE ROWNUM <![CDATA[<=]]> 20	
    </select>
    
    <select id="selectContentsOrderByAvgstar" resultType="Contents">
    	SELECT
    		*
   		FROM (
	    	SELECT
	    		*
	   		FROM
	  			CONTENTS
			ORDER BY
				CONTENTS_AVGSTAR DESC
			)
		WHERE ROWNUM <![CDATA[<=]]> 20
    </select>
    
    <select id="selectFavoriteContentsByUser" resultType="Contents" parameterType="int">
    	SELECT
    		*
   		FROM (
	    	SELECT
	    		*
	   		FROM
	  			CONTENTS c
  			LEFT JOIN WISH w ON c.CONTENTS_NO = w.WISH_NO
  			WHERE
  				w.WISH_CLIENT_NO = #{memberNo}
			)
		WHERE ROWNUM <![CDATA[<=]]> 20
    </select>
	
</mapper>