<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="omlete.mapper.NoticeMapper">
	<!-- notice 게시글 삽입 -->
	<insert id="insertNotice">
		<selectKey resultType="int" keyProperty="noticeNo" order="BEFORE">
			select notice_seq.nextval from dual
		</selectKey>
		insert into notice values(#{noticeNo},#{noticeTitle},#{noticeContent},#{noticeCount},#{noticeDate},#{noticeStatus},#{noticeTerm},#{noticeImage})		
	</insert>
	
	<!-- notice 게시글 변경 (변경값이 있을 경우에만 변경) 제목,내용,타입,이미지 -->
	<update id="updateNotice">
		update notice
		<set>
			<if test="ntitle!=null and ntitle!=''">
				notice_title=#{noticeTitle},
			</if>
			<if test="ncontent!=null and ncontent!=''">
				notice_content=#{noticeContent},
			</if>
			<if test="nstatus==1 or nstatus==9">
				notice_status=#{noticeStatus},
			</if>
			<if test="nimg!=null and nimg!=''">
				notice_image=#{noticeImage},
			</if>
		</set>
		where notice_no=#{noticeNo}
	</update>
	
	<!-- 글번호를 전달받아 notice 게시글 삭제 -->	
	<delete id="deleteNotice">
		delete from notice where notice_no=#{noticeNo}
	</delete>
	
	
	
	
	
	<!-- 글번호를 전달받아 notice 게시글 검색 -->		
	<!-- 
	<select id="selectNotice" resultType="Notice">
		select * from notice where notice_no=#{noticeNo}
	</select>
	  -->
	
	<!-- 글번호를 전달받아 notice 게시글 검색 -->		
	<select id="selectNotice" resultType="Notice">
	    select notice_no,
		notice_title,
		notice_content,
		notice_count,
		notice_date,
		notice_status,
		notice_term,
		notice_image
		 from notice where notice_no=#{noticeNo}
	</select>
	<!-- 게시글 조회수 증가 -->
	<update id="increaseViewcnt">
		update notice set notice_count = notice_count +1
		where notice_no = #{noticeNo} 
	</update>
	
	<!-- notice 게시글 총개수 -->	
	<select id="selectNoticeCount" resultType="int">
		select count(*) from notice
	</select>
	
	 <!-- 공지리스트 -->
	<select id="selectNoticeList" resultType="Notice">
    SELECT * FROM (
        SELECT rownum rn, noticelist.*
        FROM (
            SELECT notice_no, notice_title, notice_content, notice_count, notice_date, notice_status, notice_term, notice_image
            FROM Notice
            WHERE notice_status = 1
            ORDER BY notice_no DESC
        ) noticelist
    ) WHERE rn BETWEEN #{startRow} AND #{endRow}
</select>

 <!-- 이벤트리스트 -->
	<select id="selectNoticeList2" resultType="Notice">
    SELECT * FROM (
        SELECT rownum rn, noticelist2.*
        FROM (
            SELECT notice_no, notice_title, notice_content, notice_count, notice_date, notice_status, notice_term, notice_image
            FROM Notice
            WHERE notice_status = 9
            ORDER BY notice_no DESC
        ) noticelist2
    ) WHERE rn BETWEEN #{startRow} AND #{endRow}
</select>
	 
</mapper>