<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="omlete.mapper.NoticeMapper">
	<insert id="insertNotice">
		<selectKey resultType="int" keyProperty="notice_no" order="BEFORE">
			select notice_seq.nextval from dual
		</selectKey>
		insert into notice values(#{notice_no}, #{notice_title}, #{notice_content}, #{notice_count},
			#{notice_date}, #{notice_status}, #{notice_term}, #{notice_image})
	</insert>
	
<!-- 	<delete id="deleteFileBoard">
		delete from file_board where idx=#{idx}
	</delete>
	
	<select id="selectFileBoard" resultType="FileBoard">
		select idx, writer, subject, filename from file_board where idx=#{idx}
	</select>
	
	-->
	
	<!-- 레코드 수 검색 -->
	<select id="selectNoticeCount" resultType="int">
		select count(*) from notice
	</select>
	
	<!-- 전체리스트 -->
	<select id="selectNoticeList" resultType="Notice">
    	select * from (select rownum rn, notice.* from (select notice_no, notice_title, notice_content,
    		notice_count, notice_date, notice_status, notice_term, notice_image
            from Notice order by notice_no desc) notice) where rn between #{startRow} and #{endRow}
	</select>
</mapper>