<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="omlete.mapper.ReviewMapper">
	<insert id="insertReview">
		<selectKey resultType="int" keyProperty="reviewNo"
			order="BEFORE">
			select review_seq.nextval from dual
		</selectKey>
		insert into review values(#{reviewNo}, #{reviewKind}, #{reviewMember}
		, #{reviewContent}, #{reviewDate}, #{reviewUp}, #{reviewDown},#{reviewWork}
		, #{reviewSpoiler}, #{reviewStar}, #{review_contents_type})
	</insert>

	<delete id="deleteReview">
		delete from review where review_no=#{reviewNo}
	</delete>

	<update id="updateReview">
		update review
		<set>
			<if test="reviewKind == 1 or reviewKind == 2 or reviewKind == 3">
				review_kind = #{reviewKind}
			</if>
			<if test="content != null and content != ''">
				review_content = #{reviewContent}
			</if>
			<if test="spoiler == 0 or spoiler == 1">
				review_spoiler = #{reviewSpoiler}
			</if>
			<if test="star != null or star != ''">
				review_star = #{reviewStar}
			</if>
			<if test="reviewContentsType != null and reviewContentsType != ''">
				review_contents_type = #{reviewContentsType}
			</if>
		</set>
		where review_no = #{reviewNo}
	</update>

	<select id="selectReview" resultType="Review">
		select review_no,
		review_kind, review_member, review_content, review_date
		, review_up, review_down, review_work, review_spoiler,
		review_star,review_contents_type
		from review where review_no = #{reviewNo}
	</select>

	<select id="selectReviewCount" resultType="int">
		select count(*) from review
		<if test="reviewKind != null">
			where review_kind = #{reviewKind}
		</if>
	</select>

	<!-- <select id="selectReviewListPaging" resultType="review"> select * from 
		(select rownum rn, temp.* from (select review_no, review_kind , review_member, 
		review_content, review_date, review_up, review_down , review_work, review_spoiler, 
		review_star from review review_no desc) temp) where rn between #{startRow} 
		and #{endRow} </select> -->

	<select id="selectReviewList" resultType="Review">
		select * from (select rownum rn, temp.* from (select review_no,
		review_kind
		, review_member, review_content, review_date, review_up, review_down
		, review_work, review_spoiler, review_star from review
		<if test="review_kind == 1">
			where review_kind = "1"
		</if>
		<if test="review_kind == 2">
			where review_kind = "2"
		</if>
		<if test="review_kind == 3">
			where review_kind = "3"
		</if>
		order by review_no) temp )
		where rn between #{startRow} and #{endRow}
	</select>

	<select id="SelectReviewListOrder" resultType="Review">
		SELECT
		review_no, review_kind, review_member,review_content, review_up, review_down,review_work, 
		 review_spoiler, review_star, review_contents_type
		FROM
		review
		ORDER BY
		review_no
	</select>


	<!-- ================================================================================================================= -->
	 
	<select id="selectReviewCountMember" resultType="int">
		select count(*)
		from review where review_member = #{reviewMember}
	</select>
	 
	<select id="selectReviewCountTotalMovie" resultType="int">
		select
		count(*) from review where review_contents_type='영화'
	</select>

	<select id="selectReviewCountTotalTv" resultType="int">
		select count(*)
		from review where review_contents_type='TV'
	</select>
	
	
	<select id="selectReviewMemberList">
		 select * from (select rownum rn, reviewMember.* from (select review_no, review_kind, review_member,review_content, review_up, review_down,review_work, 
		 review_spoiler, review_star, review_contents_type, review_date,member_nickname,contents_tname from review join member on review_member=member_no 
         join contents on review_work=contents_no where review_member=#{reviewMember} order by review_date desc) reviewMember) 
		 where rn between #{startRow} and #{endRow}
	</select>
	
	<select id="selectReviewCountMemberReview" resultType="int">
		select count(*) from review where review_member = #{reviewMember}
	</select>
</mapper>